
body {

  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

}

/*지역 유형 창*/ 
select { 
	display: block;
	width: 200px;
	padding: 10px;
	margin: 10px 0;
	border: 2px solid #333;
	border-radius: 5px;
	background-color: #f0f0f0;

}
#div1{
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:space-between;
	background-color: silver;
	
}
.bar{
	margin-top:10%;
	padding-right: 20px;
	
}

.pt{
	text-align: center;
	background-color: blue;
	font-size: 20px;
	font-weight: bold;
}

#location{
	margin-top: 2%;
	background-color: olive;
}


.main_header {
  background-color:#ADD8E6;
  position: fixed;
  width: 30%;
  height: 80px;
  z-index: 1000;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button,
input[type="submit"], #toIndex {
  padding: 10px 15px;
  
  background-color: white;
  color:  black;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
}

.ltadd{
	
	background-color: orange;
	display: flex;
	
}
#test1{
	border: 5px solid;
	padding-right: 553%;
}


.locationt1{
	background-color: orange;
	display: flex;
}

.insert:hover {
	background-color: #218838;
}

.cancel:hover{
	background-color: red;
}

#toIndex:hover {
	background-color: red;
}

.select {
	border: 1px solid;
	padding: 30px;
	
}


/*영민- 화살표 숨기기 */
input[type="number"]::-webkit-inner-spin-button,  /*Chrome과 Safari에서 위쪽 화살표*/ 
input[type="number"]::-webkit-outer-spin-button { /*Chrome과 Safari에서 아래쪽 화살표*/
appearance: none; /* Chrome, Safari */ /*기본 스타일을 제거(화살표 버튼을 숨기고 기본적인 텍스트 입력 필드로 만들어 준다)*/
margin: 0; /* 마진 제거 */
}

