/*캘린더*/
.fc-toolbar-title {
	padding: 10px;
}
.fc-toolbar-chunk{
	padding: 10px;
}

/*캘린더*/
#main-container {
	display: flex;
	justify-content: center;
}

#container {
	width: 100%;
	max-width: 800px;
	background: #ffe8cf;
	border-radius: 12px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 80px;
	margin-bottom: 100px;
}

#container-top {
	display: flex;
	flex-direction: column;
	background-color: #d3c5b4;
	border-radius: 16px;
	align-items: center;
	position: relative;
	bottom: 60px;
	width: 90%;
	box-shadow: 0px 2px 4px #704708;
	font-weight: bold;
	padding: 10px;
}

#hostImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 40px;
}

#hostName {
	position: relative;
	bottom: 40px;
}

#membershipTitle {
	position: relative;
	bottom: 30px;
}

#membershipTitle>h1 {
	font-weight: bold;
	font-size: 1.5rem;
}

#info-container {
	line-height: 2;
}



#mainImg {
	width: 100%;
	height: auto;
	padding: 20px;
	border-radius: 30px 30px 0px 0px;
}


#info-container>p>img {
	max-width: 90%;
}

#hostInfo {
	display: flex;
	flex-direction: row;
}

#hostInfo-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#middle-container-top {
	margin-bottom: 20px;
}

#middle-container {
	width: 100%;
	padding: 20px;
}

#name-and-info {
	margin-left: 20px;
}

#hostInfo-name {
	margin-bottom: 10px;
}

#together>p {
	margin-top: 20px;
}

#imageContainer {
	margin-top: 20px;
}

.allmemberImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.memberTable {
	border: 1px solid #959595;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.memberTable ui {
	display: flex;
	flex-direction: column;
}

.member-grade {
	text-align: center;
	font-weight: bold;
	text-wrap: nowrap;
	padding-bottom: 5px;
}

.member-grade span {
	color: rgb(252, 177, 3);
	font-size: 20px;
}

.member-img-icon-nickname-manner {
	display: flex;
	justify-content: space-evenly;
}

.member-img-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-top: 5px;
}

.nickname-manner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	font-weight: bolder;
}

.manner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.manner p {
	margin-right: 10px;
}

.nickname {
	text-align: center;
}

#accordionExample {
	position: fixed;
	left: 0px;
	z-index: 99;
	margin-top: 80px;
	min-width: 16.55%;
}

.accordion-button collapsed {
	background-color: #14213d !important;
	color: white !important;
	font-weight: bold !important;
}

.accordion-header {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

.accordion-collapse {
	overflow: auto;
}



.accordion-collapse.collapsing {
	max-height: 700px !important;
}

.accordion-body {
	max-width: 310px;
	max-height: 700px;
}

.accordion-button:not(.collapsed) {
	background: #fca311; /* 펼쳐졌을 때 배경색 */
	color: #ffffff; /* 텍스트 색상 */
}

.accordion-button.collapsed {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #14213d; /* 닫혔을 때 배경색 */
	color: #ffffff; /* 텍스트 색상 */
}




#calendar-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#calendar-info p {
	font-family: "Do Hyeon", sans-serif;
	font-size: 50px;
	font-weight: bold;
	padding: 10px;
}

#calendar {
	background: white;
	width: 700px;
}

#deleteMembership {
	font-family: "Do Hyeon", sans-serif;
	width: 600px;
	height: 250px;
	font-size: 20px;
	background: gray;
	position: fixed;
	/*   position: absolute;*/
	cursor: pointer;
	top: 102px;
	left: 658px;
	z-index: 99;
	background: white;
	border: 0.5px solid black;
	box-shadow: 5px 5px 5px #000;
}

#container-title {
	width: 100%;
	text-align: center;
	height: 40px;
	background: #add8e6;
	color: #fca35b;
	font-family: "Do Hyeon", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container-main {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 20px;
	background: white;
}

#container-main>* {
	padding: 10px;
}

#deleteContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 40px;
	font-size: 32px;
}

#deleteCancle {
	background: red;
	height: 40px;
	color: white;
}

#cancle {
	color: white;
	background: red;
	border: none;
	height: 40px;
	border: 0.5px solid black;
	border-top: none;
	border-right: none;
}

#deleteBtn {
	border: 1px solid black;
	background: black;
	color: white;
	width: 115px;
	height: 46px;
	font-size: 20px;
}

#deleteBtn:hover {
	border: 1px solid red;
	background: red;
	color: black;
}

@keyframes blink { 
	0% {
	opacity: 1;
	}
	50%{
	opacity : 0;
	}100%{
	opacity:1;
	}
}
#title {
	animation: blink 1s infinite; /* 1초 간격으로 무한 반복 */
}

#menu {
    background-color: #ffb67b;
    margin-top: 100px;
    width: 100%;	
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.mainMenu {
	font-weight: bold;
	font-size: 40px;
	text-align: center; /* 텍스트 중앙 정렬 */
	color: #fff; /* 텍스트 색상 */
	padding: 10px 0; /* 수직 패딩 */
	border-bottom: 1px solid white;
}

#menu ul {
	border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#menu li {
	text-align: center;
	border-bottom: 1px solid white;
	font-size: 14px;
}


/* 링크 및 메인 메뉴 호버 시 배경색 변경 */
#menu li a:hover {
	background-color: #ffcaa0; /* 호버 시 배경색 변경 */
}

/* 드롭다운 항목을 호버 시 표시 */
#menu li:hover ul {
	display: block; /* 호버 시 항목 표시 */
}

/* 리스트 항목 스타일링 */
#menu ul {
	list-style: none; /* 리스트 스타일 제거 */
	padding: 0; /* 패딩 제거 */
	margin: 0; /* 마진 제거 */
}

/* 리스트 항목 내 링크 스타일링 */
#menu li a {
	display: block; /* 링크를 블록으로 만들어 전체 너비 사용 */
	padding: 10px; /* 패딩 추가 */
	color: #fff; /* 텍스트 색상 */
	text-decoration: none; /* 링크에 밑줄 제거 */
	font-weight: bold; /* 글씨를 굵게 */
}




#deleteButton {
	width: 100%; /* 버튼 너비를 100%로 설정 */
	background: #ff4d4d; /* 삭제 버튼의 배경색 */
	color: #fff; /* 버튼 텍스트 색상 */
	border: none; /* 경계선 제거 */
	padding: 10px; /* 패딩 추가 */
	font-size: 16px; /* 버튼 글씨 크기 */
	cursor: pointer; /* 커서가 포인터로 변경되도록 설정 */
	border-radius: 0px 0px 10px 10px;
}

/* 버튼 호버 시 배경색 변경 */
#deleteButton:hover {
	background: #e60000; /* 호버 시 배경색 변경 */
}

#calendar {
	background: white;
	width: 700px;
	border-radius: 10px;
}

.fc .fc-daygrid-day-top{
	flex-direction: inherit;
}

.fc .fc-toolbar-title{
	font-weight: bold;
}

.fc-day-sun > div > a{
	color: red;
}
.fc-day-sat > div > a {
	color : #7e7eff;	
}


.fc-scrollgrid-sync-table tbody tr td:nth-child(1) a {
	color: red;
}
.fc-scrollgrid-sync-table tbody tr td:nth-child(7) a {
	color:#7e7eff;;
}

.lostDance{
	display: flex;
    flex-flow: column;
}
.lostBtn{
    width: 725px;
    border: none;
    background-color: #ffc698;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}
.lostBtn:hover{
	background: #ffaa64;
}
.lostDiv{
	display: none;
	
}